body {
  background-color: #f5f5f5;
}

* {
  font-family: 'Akshar', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Radio Canada', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Rubik', sans-serif;
}